<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button @click='changeComponent("appBlue")' class="btn btn-primary">Load Blue Template</button>
                <button @click='changeComponent("appGreen")' class="btn btn-success">Load Green Template</button>
                <button @click='changeComponent("appRed")' class="btn btn-danger">Load Red Template</button>
                <hr>
                <component :is='selectedComponent'>
                    <p>Default component</p>
                </component>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    Replace for is component
    
    <app-blue>{{ blueText }}</app-blue>
    <app-green>
        <p slot='greenColorText'>{{ greenText }}</p>
        <template slot='randomText'>{{ randomText }}</template>
    </app-green>
    <app-red>
        <template slot='redText'>{{ redText }}</template>
    </app-red>
    */

    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data: function() {
            return {
                selectedComponent: 'appBlue',
                randomText: 'Texto random',
                blueText: 'Soy color azul',
                greenText: 'Soy color verde',
                redText: 'Soy color rojo'
            }
        },
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        },
        methods: {
            changeComponent: function(componentName) {
                this.selectedComponent = componentName;
            }
        }
    }
</script>

<style>
</style>
